################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Extra/AutoFisher.js
.idea/aws.xml
.idea/checkstyle-idea.xml
.idea/misc.xml
.idea/modules.xml
.idea/nuclear.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
../sdk
/.idea/workspace.xml
